/*
 * CSS magic to make sure the table takes the whole screen.
 * Credits go to: Pebbl (stackoverflow answer)
 */
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 0px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
  overflow-y: scroll
}

.box .row.footer {
  flex: 0 1 40px;
}

#controller {
  float: right;
}
