/*
 * CSS magic to make sure the table takes the whole screen.
 * Credits go to: Pebbl (stackoverflow answer)
 */
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 0px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
  overflow-y: scroll
}

.box .row.footer {
  flex: 0 1 40px;
}

#controller {
  float: right;
}

#filters {
    float: left;
    clear: both;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.filter {
    position: relative;
    left: 2%;               /* add some spacing from the left */
    width: 95%;
}

.error {
    background-color: #ff5c33;
}

.warn {
    background-color: #ffad33;
}

.notice {
    background-color: #ffff66;
}

.highlight {
    background-color: #b3e6ff;
}