{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- TODO use async? -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript">var server_ip = "{{ server_ip }}";</script>
<script type="text/javascript" src="static/viewer.js"></script>
<link rel="stylesheet" type="text/css" href="static/viewer.css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="container box" ng-app="app", ng-controller="MessagesController">
    <div class="header row">
        <div>
            <h3>Syslogw <small>Web Viewer</small></h3>
        </div>
        <div id="controller">
            <button type="button" class="btn btn-primary btn-warning" ng-click="onClear()">Clear</button>
            <button type="button" class="btn btn-primary btn-warning" ng-click="onPause()" ng-hide="isPaused">Pause</button>
            <button type="button" class="btn btn-primary btn-warning" ng-click="onResume()" ng-show="isPaused">Resume</button>
        </div>
    </div>
    <div id="viewer" class="container content row">
        <table class="table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>App</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat='message in messages'>
                <td>{a message.severity a}</td>
                <td>{a message.appname a}</td>
                <td>{a message.msg a}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}