{% extends "base.html" %}

{% block head %}
{{ super() }}

<!-- TODO use async? -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="static/viewer.js"></script>
<link rel="stylesheet" type="text/css" href="static/viewer.css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="container box">
    <div class="header row">
        <h3>Syslogw</h3>
    </div>
    <div id="viewer" class="container content row" ng-app="app", ng-controller="MessagesController">
        <table class="table">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>App</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat='message in messages'>
                <td>{a message.severity a}</td>
                <td>{a message.appname a}</td>
                <td>{a message.msg a}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}